<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= heading %></title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">
    <h1>
      <%= heading %>
    </h1>

    <% if (locals.task) { %>
      <form id="editForm" method="post" action="/api/tasks/<%=task.id%>">
        <textarea name="content" rows="3" required><%=task.content %></textarea>
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>
    <% } else { %>
      <form id="newTaskForm" method="post" action="/api/tasks">
        <textarea name="content" placeholder="Enter new task content" required rows="3"></textarea>
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>
    <% } %>
  </div>
</body>

</html>